#resultadosmbti{
    width:200px;
}

#resultadosmbti li{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    background-color:#f0f0f0;
    height:30px;
    width: 250px;
}

.eliminar{
    font-size: 25px;
    color:black;
}

.eliminar:hover{
    color:red;
}

.ver{
    text-decoration:none;
    font-size: 25px;
    color:black;
}

.ver:hover{
    color:yellowgreen;
}

#eliminarmbti{
    background-color:red;
}

#resultadoseneagrama{
    width:200px;
}

#resultadoseneagrama li{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    background-color:#f0f0f0;
    height:30px;
    width: 250px;
}


#eliminareneagrama{
    background-color:red;
}

.contenido{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}